@charset "UTF-8";
/* HELPER */
.nav-link {
  transition: all 0.5s ease-in;
  /* анимация ховера*/
}

/* BASE */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
button,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

a,
a:focus,
a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
  list-style: none;
}

p {
  margin-bottom: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input::-ms-clear {
  display: none;
}

input,
button {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

strong {
  font-weight: bold;
}

label,
button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  /* делает так что все элементы в нем распологаються ровно по середине */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.heading-main {
  color: #ffffff;
  font-size: 52px;
  font-family: "Raleway", sans-serif;
}

.heading-2 {
  color: #ffffff;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.title {
  color: #555555;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.theme-info-text .title {
  font-size: 28px;
  color: #fff;
}

.title-secondary {
  color: #555555;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin: 0 0 19px;
  display: block;
}
.offers-box:hover .title-secondary {
  color: #c7b299;
}

.paragraph {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
.offers-box .paragraph {
  font-size: 14px;
  color: #8c8c8c;
}
.offers-box:hover .paragraph {
  color: #c7b299;
}
.realization-content .paragraph {
  font-size: 16px;
  color: #8c8c8c;
  max-width: 757px;
  margin: 0 auto;
}
.theme-info-text .paragraph {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #615855;
}
.advertising-text .paragraph {
  color: #8c8c8c;
  line-height: 1.75;
  max-width: 757px;
  margin: 0 auto;
}

.highlight {
  color: #c7b299;
}

/* COMPONENTS */
.button {
  min-width: 170px;
  /*мин ширина для того ( есле текст в нутри станет больше чтоб не увеличило кнопку*/
  height: 53px;
  /* высота кнопки*/
  background-color: #998675;
  /* цвет*/
  padding-left: 5px;
  /* отступы в нутри блока чтоб не налазил текст при сжатии*/
  padding-right: 5px;
  color: #ffffff;
  /* цвет текста*/
  border-radius: 5px;
  /* округление углов рамки*/
  box-shadow: inset 0px -3px 0 0 #736357;
  /* тень*/
  transition: all 1s ease-in;
  /* нажатие кнопки*/
  opacity: 1;
  /* прозрачность ( для того чтоб сработало прозрачность на ховере)*/
  display: inline-block;
  /* насильно делаем кнопку инлайн блоком*/
  line-height: 53px;
  /* высота линии текста( дубль высоты кнопки)*/
  text-transform: uppercase;
  /* текст в нутри БОЛЬШИМИ БУКВАМИ*/
  text-align: center;
  /* текст всегда по центру */
}
.button:hover {
  box-shadow: inset 0 0 0 0 #736357;
  opacity: 0.8;
  /* прозрачность при ховере*/
}
.advertising-content .button {
  margin-bottom: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 64px;
  /* огроничил размером картинку */
  height: 56px;
  color: #ffffff;
  object-fit: contain;
}

.logo-text {
  font-size: 34px;
  color: #ffffff;
}

.nav {
  margin-right: 50px;
}

.nav-list {
  display: flex;
}
.advertising-nav .nav-list {
  justify-content: center;
  padding-top: 40px;
}

.nav-item {
  margin: 0 5px;
}
.advertising-nav .nav-item {
  display: inline-block;
  border: solid 1px #ebebeb;
  border-radius: 3px;
  width: 120px;
  height: 32px;
  text-align: center;
}
.advertising-nav .nav-item:hover {
  background-color: #998675;
}

.nav-link {
  /* сылке делаем ховер*/
  color: #fff;
  padding: 0 10px;
  /* расширяем кликабельность сылки*/
  /* расширяю класс тихим классом в (плейсхолдере)*/
}
.advertising-nav .nav-link {
  color: #8c8c8c;
  font-size: 14px;
}
.nav-item:hover .nav-link {
  /* наследуем состояние радителя*/
  color: #c7b299;
}
.advertising-nav .nav-link:hover {
  color: #fff;
}

.search-img {
  margin-left: 28px;
}

.pen-icon, .pen-icon4, .pen-icon3, .pen-icon2 {
  display: block;
  /* делаем <i> блоком */
  height: 49px;
  /* фиксируем велечину картинки*/
  width: 49px;
  background-image: url(../img/icon-1.svg);
  /* путь к картинке*/
  background-repeat: no-repeat;
  /* свойвства которые обязательно для картинки*/
  background-position: center center;
  /* свойвства которые обязательно для картинки*/
  background-size: cover;
  /* свойвства которые обязательно для картинки*/
  margin: 0 auto;
  /* выравниваеим картинку по центру */
  margin-bottom: 29px;
  /* отодвигаем блок от ниже стоящего*/
}
.offers-box:hover .pen-icon, .offers-box:hover .pen-icon4, .offers-box:hover .pen-icon3, .offers-box:hover .pen-icon2 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-1hover.svg);
  /* картинка меняется на другую*/
}

/* ховер не применился к второй картинке*/
/* и не получилось на второй класс повесить ховер */
.pen-icon2 {
  /*картинка второго блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-2.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon2 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-2hover.svg);
  /* картинка меняется на другую*/
}

.pen-icon3 {
  /*картинка третего блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-3.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon3 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-3hover.svg);
  /* картинка меняется на другую*/
}

.pen-icon4 {
  /*картинка четвертого блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-4.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon4 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-4hover.svg);
  /* картинка меняется на другую*/
}

.media {
  width: 100%;
  height: 0;
  padding-bottom: 39%;
  /* вычесляется по формуле место для картинки*/
  position: relative;
}
.projects .media {
  padding-bottom: 64%;
  min-width: 370px;
}

.media-content {
  position: absolute;
  top: 0px;
  /* растягиваем от края до края картинку*/
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* LAYOUT */
.header {
  padding: 40px 0;
  /* отступ блока с хедером с верху и низу*/
  position: absolute;
  /* выбиваем из потока банера*/
  left: 0;
  top: 0;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder-terminal {
  display: flex;
}

.banner {
  background-image: url(../img/banner.png);
  /*картинка*/
  background-repeat: no-repeat;
  /* повторение*/
  background-position: center center;
  /*позиция картинки*/
  background-size: cover;
  /* заполонение картинки*/
  min-height: 1024px;
  width: 100%;
  position: relative;
  z-index: 0;
  /* слой оси z */
  display: flex;
  align-items: center;
  /* ровняем содержимое по центру */
  padding: 136px 0;
  /* отступ при сужении экрана */
}
.banner::before {
  /* добовляем темную шторку */
  content: "";
  position: absolute;
  left: 0;
  /*точка в которой появится шторка*/
  top: 0;
  /*точка в которой появится шторка*/
  width: 100%;
  /* ростягиваем на весь размер баннера */
  height: 100%;
  /* ростягиваем на весь размер баннера */
  background-color: rgba(17, 17, 17, 0.7);
  /* цвет шторки с прозрачностью*/
  z-index: -1;
  /* позиция шторки по отношению к банеру*/
}

/* содержимое класса banner-content выравнивается во центру блока*/
.banner-content {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  text-align: center;
}

.offers {
  padding: 80px 0;
}

.offers-content {
  display: flex;
  /* выстраиваем содержимое в ряд*/
  justify-content: space-between;
}

.offers-box {
  position: relative;
  /* фексируем блок чтобы можно было подвинуть бефор*/
  max-width: 252px;
  /* ширина блока с контентом*/
  padding: 0 15px;
  /* отступ по бокам */
  padding-bottom: 30px;
  /* отсту с низу*/
  width: 100%;
  text-align: center;
  /* распологаем содержимое по центру*/
}
.offers-box::before {
  /* рисуем полосочку в низу блока*/
  content: "";
  /* обязательное свойвство для всех бефор и автор*/
  width: 70px;
  /* длинна палочки*/
  height: 3px;
  /* толчина палочки*/
  background-color: #f1eee9;
  /* цвет палочки*/
  position: absolute;
  /* для перемещенич бефора*/
  top: 100%;
  /* опускаем в низ*/
  left: 50%;
  /* выстовляем по центру блока*/
  transform: translateX(-50%);
  /* выстовляем по центру блока*/
}
.offers-box:hover::before {
  background-color: #c7b299;
}

.realization {
  padding-top: 83px;
  background-color: #fbfaf8;
}

.realization-content {
  text-align: center;
}

.theme-info {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0;
}

.theme-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertising {
  margin-top: 81px;
}

.advertising-content {
  text-align: center;
}

.advertising-nav {
  padding-bottom: 51px;
}

.advertising-text {
  max-width: 757px;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects-sections {
  max-width: 370px;
  display: flex;
  flex-direction: column;
}

.kart {
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #fbfaf8;
  margin-bottom: 30px;
}

.kart-title {
  font-size: 20px;
  color: #c7b299;
}

.kart-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #d1d1d1;
}