@charset "UTF-8";
/* HELPER */
.nav-link {
  transition: all 0.5s ease-in;
  /* анимация ховера*/
}

/* BASE */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
button,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

a,
a:focus,
a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
  list-style: none;
}

p {
  margin-bottom: 20px;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input::-ms-clear {
  display: none;
}

input,
button {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

strong {
  font-weight: bold;
}

label,
button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  /* делает так что все элементы в нем распологаються ровно по середине */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* COMPONENTS */
.big-button {
  min-width: 170px;
  height: 53px;
  background-color: #998675;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 64px;
  /* огроничил размером картинку */
  height: 56px;
  color: #ffffff;
  object-fit: contain;
}

.logo-text {
  font-size: 34px;
  color: #ffffff;
}

.nav {
  margin-right: 50px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 5px;
}

.nav-link {
  /* сылке делаем ховер*/
  color: #fff;
  padding: 0 10px;
  /* расширяем кликабельность сылки*/
  /* расширяю класс тихим классом в (плейсхолдере)*/
}
.nav-item:hover .nav-link {
  /* наследуем состояние радителя*/
  color: #c7b299;
}

/* LAYOUT */
.header {
  padding: 40px 0;
  /* отступ блока с хедером с верху и низу*/
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder-terminal {
  display: flex;
}

.banner {
  background-image: url(../img/banner.png);
  /*картинка*/
  background-repeat: no-repeat;
  /* повторение*/
  background-position: center center;
  /*позиция картинки*/
  background-size: cover;
  /* заполонение картинки*/
  min-height: 1024px;
  width: 100%;
  position: relative;
  z-index: 0;
  /* слой оси z */
}
.banner::before {
  /* добовляем темную шторку */
  content: "";
  position: absolute;
  left: 0;
  /*точка в которой появится шторка*/
  top: 0;
  /*точка в которой появится шторка*/
  width: 100%;
  /* ростягиваем на весь размер баннера */
  height: 100%;
  /* ростягиваем на весь размер баннера */
  background-color: rgba(17, 17, 17, 0.7);
  /* цвет шторки с прозрачностью*/
  z-index: -1;
  /* позиция шторки по отношению к банеру*/
}