@charset "UTF-8";
/* HELPER */
.media-overlay, .loupe-icon, .link-icon, .nav-link {
  transition: all 0.5s ease-in;
  /* анимация ховера*/
}

.loupe-icon, .link-icon, .arrow-right-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* BASE */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
button,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

a,
a:focus,
a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
  list-style: none;
}

p {
  margin-bottom: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input::-ms-clear {
  display: none;
}

input,
button {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
}

strong {
  font-weight: bold;
}

label,
button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  /* делает так что все элементы в нем распологаються ровно по середине */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.heading-main {
  color: #ffffff;
  font-size: 52px;
  font-family: "Raleway", sans-serif;
}

.heading-2 {
  color: #ffffff;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.title {
  color: #555555;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.theme-info-text .title {
  font-size: 28px;
  color: #fff;
}

.title-secondary {
  color: #555555;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin: 0 0 19px;
  display: block;
}
.offers-box:hover .title-secondary {
  color: #c7b299;
}

.paragraph {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
.offers-box .paragraph {
  font-size: 14px;
  color: #8c8c8c;
}
.offers-box:hover .paragraph {
  color: #c7b299;
}
.realization-content .paragraph {
  font-size: 16px;
  color: #8c8c8c;
  max-width: 757px;
  margin: 0 auto;
}
.theme-info-text .paragraph {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #615855;
}
.advertising-text .paragraph {
  color: #8c8c8c;
  line-height: 1.75;
  max-width: 757px;
  margin: 0 auto;
}
.mobile-text .paragraph {
  color: #8c8c8c;
  line-height: 1.75;
}
.mobile-option-section .paragraph {
  margin-left: 29px;
  line-height: 2;
}

.highlight {
  color: #c7b299;
}

/* COMPONENTS */
.button {
  min-width: 170px;
  /*мин ширина для того ( есле текст в нутри станет больше чтоб не увеличило кнопку*/
  height: 53px;
  /* высота кнопки*/
  background-color: #998675;
  /* цвет*/
  padding-left: 5px;
  /* отступы в нутри блока чтоб не налазил текст при сжатии*/
  padding-right: 5px;
  color: #ffffff;
  /* цвет текста*/
  border-radius: 5px;
  /* округление углов рамки*/
  box-shadow: inset 0px -3px 0 0 #736357;
  /* тень*/
  transition: all 1s ease-in;
  /* нажатие кнопки*/
  opacity: 1;
  /* прозрачность ( для того чтоб сработало прозрачность на ховере)*/
  display: inline-block;
  /* насильно делаем кнопку инлайн блоком*/
  line-height: 53px;
  /* высота линии текста( дубль высоты кнопки)*/
  text-transform: uppercase;
  /* текст в нутри БОЛЬШИМИ БУКВАМИ*/
  text-align: center;
  /* текст всегда по центру */
}
.button:hover {
  box-shadow: inset 0 0 0 0 #736357;
  opacity: 0.8;
  /* прозрачность при ховере*/
}
.advertising-content .button {
  margin: 0 auto;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 64px;
  /* огроничил размером картинку */
  height: 56px;
  color: #ffffff;
  object-fit: contain;
}

.logo-text {
  font-size: 34px;
  color: #ffffff;
}

.nav {
  margin-right: 50px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 5px;
}

.nav-link {
  /* сылке делаем ховер*/
  color: #fff;
  padding: 0 10px;
  /* расширяем кликабельность сылки*/
  /* расширяю класс тихим классом в (плейсхолдере)*/
}
.advertising-nav .nav-link {
  color: #8c8c8c;
  font-size: 14px;
}
.nav-item:hover .nav-link {
  /* наследуем состояние радителя*/
  color: #c7b299;
}

.search-img {
  margin-left: 28px;
}

.pen-icon, .pen-icon4, .pen-icon3, .pen-icon2 {
  display: block;
  /* делаем <i> блоком */
  height: 49px;
  /* фиксируем велечину картинки*/
  width: 49px;
  background-image: url(../img/icon-1.svg);
  /* путь к картинке*/
  background-repeat: no-repeat;
  /* свойвства которые обязательно для картинки*/
  background-position: center center;
  /* свойвства которые обязательно для картинки*/
  background-size: cover;
  /* свойвства которые обязательно для картинки*/
  margin: 0 auto;
  /* выравниваеим картинку по центру */
  margin-bottom: 29px;
  /* отодвигаем блок от ниже стоящего*/
}
.offers-box:hover .pen-icon, .offers-box:hover .pen-icon4, .offers-box:hover .pen-icon3, .offers-box:hover .pen-icon2 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-1hover.svg);
  /* картинка меняется на другую*/
}

/* ховер не применился к второй картинке*/
/* и не получилось на второй класс повесить ховер */
.pen-icon2 {
  /*картинка второго блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-2.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon2 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-2hover.svg);
  /* картинка меняется на другую*/
}

.pen-icon3 {
  /*картинка третего блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-3.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon3 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-3hover.svg);
  /* картинка меняется на другую*/
}

.pen-icon4 {
  /*картинка четвертого блока*/
  /* применяем все стили класса pen-icon к этому классу*/
  background-image: url(../img/icon-4.svg);
  /* картинку меняем на нужную*/
}
.offers-box:hover .pen-icon4 {
  /* есле родитель картинки ховер, тогда */
  background-image: url(../img/icon-4hover.svg);
  /* картинка меняется на другую*/
}

.arrow-right-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cdefs%3E%3Cfilter id='prefix__a'%3E%3CfeFlood flood-color='%23C7B299' flood-opacity='1' result='floodOut'/%3E%3CfeComposite in='floodOut' in2='SourceGraphic' operator='atop' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23prefix__a)'%3E%3Cpath fill-rule='evenodd' d='M10.5.001C4.702.001.001 4.701.001 10.499c0 5.799 4.701 10.499 10.499 10.499 5.799 0 10.498-4.7 10.498-10.499C20.998 4.701 16.299.001 10.5.001zm3.289 10.996L9.25 15.535c-.273.273-.717.273-.99 0-.273-.274-.273-.717 0-.99l4.047-4.046L8.26 6.452c-.273-.273-.273-.716 0-.989.273-.274.717-.274.99 0l4.539 4.539c.138.137.206.318.205.497 0 .181-.067.36-.205.498z'/%3E%3C/g%3E%3C/svg%3E");
  display: block;
  height: 21px;
  width: 21px;
  /* присвоили тихий класс */
}

.link-icon {
  /* присвоили тихий класс */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cdefs%3E%3Cfilter id='prefix__a'%3E%3CfeFlood flood-color='%23FFF' flood-opacity='1' result='floodOut'/%3E%3CfeComposite in='floodOut' in2='SourceGraphic' operator='atop' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23prefix__a)'%3E%3Cpath fill-rule='evenodd' d='M23.499 11.242l-1.926 1.928-3.187 3.189c-.153.17-.341.324-.511.46-1.773 1.398-4.125 1.705-6.153.905-.75-.291-1.466-.751-2.079-1.365l2.641-2.644c.955.955 2.506.955 3.46 0l2.028-2.029 3.085-3.087c.955-.955.955-2.508 0-3.462-.954-.955-2.505-.955-3.46 0l-2.454 2.456c-1.534-.716-3.289-.836-4.908-.376l4.721-4.723c2.403-2.405 6.34-2.405 8.743 0 2.42 2.421 2.42 6.343 0 8.748zm-9.237-2.949c.749.289 1.465.749 2.079 1.363l-2.642 2.645c-.954-.956-2.505-.956-3.46 0l-5.113 5.115c-.955.956-.955 2.506 0 3.462.954.956 2.505.956 3.46 0l2.352-2.354c2.011.803 2.557.87 4.908.325l-4.618 4.672c-2.403 2.406-6.341 2.406-8.744 0-2.403-2.404-2.403-6.343 0-8.747l5.113-5.118c.068-.067.154-.153.239-.221 1.789-1.604 4.295-1.996 6.426-1.142z'/%3E%3C/g%3E%3C/svg%3E%0A");
  display: block;
  height: 26px;
  width: 26px;
}
.media-link:hover .link-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cdefs%3E%3Cfilter id='prefix__a'%3E%3CfeFlood flood-color='%23c7b299' flood-opacity='1' result='floodOut'/%3E%3CfeComposite in='floodOut' in2='SourceGraphic' operator='atop' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23prefix__a)'%3E%3Cpath fill-rule='evenodd' d='M23.499 11.242l-1.926 1.928-3.187 3.189c-.153.17-.341.324-.511.46-1.773 1.398-4.125 1.705-6.153.905-.75-.291-1.466-.751-2.079-1.365l2.641-2.644c.955.955 2.506.955 3.46 0l2.028-2.029 3.085-3.087c.955-.955.955-2.508 0-3.462-.954-.955-2.505-.955-3.46 0l-2.454 2.456c-1.534-.716-3.289-.836-4.908-.376l4.721-4.723c2.403-2.405 6.34-2.405 8.743 0 2.42 2.421 2.42 6.343 0 8.748zm-9.237-2.949c.749.289 1.465.749 2.079 1.363l-2.642 2.645c-.954-.956-2.505-.956-3.46 0l-5.113 5.115c-.955.956-.955 2.506 0 3.462.954.956 2.505.956 3.46 0l2.352-2.354c2.011.803 2.557.87 4.908.325l-4.618 4.672c-2.403 2.406-6.341 2.406-8.744 0-2.403-2.404-2.403-6.343 0-8.747l5.113-5.118c.068-.067.154-.153.239-.221 1.789-1.604 4.295-1.996 6.426-1.142z'/%3E%3C/g%3E%3C/svg%3E ");
}

.loupe-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='25'%3E%3Cdefs%3E%3Cfilter id='prefix__a'%3E%3CfeFlood flood-color='%23FFF' flood-opacity='1' result='floodOut'/%3E%3CfeComposite in='floodOut' in2='SourceGraphic' operator='atop' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23prefix__a)'%3E%3Cpath fill-rule='evenodd' d='M25.456 24.172c-.321.317-.742.474-1.163.474-.42 0-.842-.157-1.163-.474l-4.335-4.271c-1.893 1.447-4.26 2.317-6.836 2.317-6.166 0-11.182-4.942-11.182-11.016S5.793.186 11.959.186s11.182 4.942 11.182 11.016c0 2.37-.771 4.562-2.068 6.361l4.383 4.318c.642.633.642 1.659 0 2.291zM11.96 2.778c-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.551 8.425c2.104 0 4.03-.756 5.521-2.003.46-.384.874-.819 1.243-1.288 1.116-1.423 1.786-3.201 1.786-5.134 0-4.645-3.836-8.424-8.55-8.424zm4.85 6.803c-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728-.705-1.424-2.141-2.309-3.748-2.309-.726 0-1.315-.58-1.315-1.297 0-.714.589-1.295 1.315-1.295 2.621 0 4.964 1.443 6.113 3.765.318.644.047 1.42-.607 1.734z'/%3E%3C/g%3E%3C/svg%3E ");
  display: block;
  height: 26px;
  width: 26px;
}
.media-link:hover .loupe-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='25'%3E%3Cdefs%3E%3Cfilter id='prefix__a'%3E%3CfeFlood flood-color='%23c7b299' flood-opacity='1' result='floodOut'/%3E%3CfeComposite in='floodOut' in2='SourceGraphic' operator='atop' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23prefix__a)'%3E%3Cpath fill-rule='evenodd' d='M25.456 24.172c-.321.317-.742.474-1.163.474-.42 0-.842-.157-1.163-.474l-4.335-4.271c-1.893 1.447-4.26 2.317-6.836 2.317-6.166 0-11.182-4.942-11.182-11.016S5.793.186 11.959.186s11.182 4.942 11.182 11.016c0 2.37-.771 4.562-2.068 6.361l4.383 4.318c.642.633.642 1.659 0 2.291zM11.96 2.778c-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.551 8.425c2.104 0 4.03-.756 5.521-2.003.46-.384.874-.819 1.243-1.288 1.116-1.423 1.786-3.201 1.786-5.134 0-4.645-3.836-8.424-8.55-8.424zm4.85 6.803c-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728-.705-1.424-2.141-2.309-3.748-2.309-.726 0-1.315-.58-1.315-1.297 0-.714.589-1.295 1.315-1.295 2.621 0 4.964 1.443 6.113 3.765.318.644.047 1.42-.607 1.734z'/%3E%3C/g%3E%3C/svg%3E ");
}

.media {
  width: 100%;
  height: 0;
  padding-bottom: 39%;
  /* вычесляется по формуле место для картинки*/
  position: relative;
}
.projects .media {
  padding-bottom: 64%;
  min-width: 370px;
  overflow: hidden;
}
.mobile-content .media {
  padding-bottom: 52%;
  max-width: 423px;
}

.card:hover .media .media-overlay {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7);
}

.media-content {
  position: absolute;
  top: 0px;
  /* растягиваем от края до края картинку*/
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.media-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.card:hover .media-overlay {
  transform: translateY(0);
}

.media-link {
  display: block;
  margin: 5px;
  padding: 5px;
}

.card {
  max-width: 370px;
  display: flex;
  flex-direction: column;
}
.card-descr:hover .card {
  background-color: #362f2d;
}

.card-descr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fbfaf8;
  margin-bottom: 30px;
  padding: 13px 30px;
}
.card-descr::before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: -39px;
  left: 14px;
  z-index: 2;
}
.card:hover .card-descr::before {
  border-bottom: 20px solid #362f2d;
}
.card:hover .card-descr {
  background-color: #362f2d;
}

.card-title {
  font-size: 20px;
  color: #c7b299;
  margin-bottom: 14px;
}
.card:hover .card-title {
  color: #fff;
}

.card-info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #d1d1d1;
}
.card:hover .card-info {
  color: #c7b299;
}

.sort-list {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.sort-item {
  display: inline-block;
  border: solid 1px #ebebeb;
  border-radius: 3px;
  margin: 0 5px;
}
.sort-item:hover {
  background-color: #998675;
}

.sort-link {
  color: #8c8c8c;
  font-size: 14px;
  padding: 8px 18px;
  display: block;
}
.sort-link:hover {
  color: #fff;
}

/* LAYOUT */
.header {
  padding: 40px 0;
  /* отступ блока с хедером с верху и низу*/
  position: absolute;
  /* выбиваем из потока банера*/
  left: 0;
  top: 0;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder-terminal {
  display: flex;
}

.banner {
  background-image: url(../img/banner.png);
  /*картинка*/
  background-repeat: no-repeat;
  /* повторение*/
  background-position: center center;
  /*позиция картинки*/
  background-size: cover;
  /* заполонение картинки*/
  min-height: 1024px;
  width: 100%;
  position: relative;
  z-index: 0;
  /* слой оси z */
  display: flex;
  align-items: center;
  /* ровняем содержимое по центру */
  padding: 136px 0;
  /* отступ при сужении экрана */
}
.banner::before {
  /* добовляем темную шторку */
  content: "";
  position: absolute;
  left: 0;
  /*точка в которой появится шторка*/
  top: 0;
  /*точка в которой появится шторка*/
  width: 100%;
  /* ростягиваем на весь размер баннера */
  height: 100%;
  /* ростягиваем на весь размер баннера */
  background-color: rgba(17, 17, 17, 0.7);
  /* цвет шторки с прозрачностью*/
  z-index: -1;
  /* позиция шторки по отношению к банеру*/
}

/* содержимое класса banner-content выравнивается во центру блока*/
.banner-content {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  text-align: center;
}

.offers {
  padding: 80px 0;
}

.offers-content {
  display: flex;
  /* выстраиваем содержимое в ряд*/
  justify-content: space-between;
}

.offers-box {
  position: relative;
  /* фексируем блок чтобы можно было подвинуть бефор*/
  max-width: 252px;
  /* ширина блока с контентом*/
  padding: 0 15px;
  /* отступ по бокам */
  padding-bottom: 30px;
  /* отсту с низу*/
  width: 100%;
  text-align: center;
  /* распологаем содержимое по центру*/
}
.offers-box::before {
  /* рисуем полосочку в низу блока*/
  content: "";
  /* обязательное свойвство для всех бефор и автор*/
  width: 70px;
  /* длинна палочки*/
  height: 3px;
  /* толчина палочки*/
  background-color: #f1eee9;
  /* цвет палочки*/
  position: absolute;
  /* для перемещенич бефора*/
  top: 100%;
  /* опускаем в низ*/
  left: 50%;
  /* выстовляем по центру блока*/
  transform: translateX(-50%);
  /* выстовляем по центру блока*/
}
.offers-box:hover::before {
  background-color: #c7b299;
}

.realization {
  padding-top: 83px;
  background-color: #fbfaf8;
}

.realization-content {
  text-align: center;
}

.theme-info {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0;
}

.theme-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertising {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advertising-text {
  max-width: 757px;
  margin: 0 auto;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 36%;
}

.video-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile {
  padding-top: 79px;
}

.mobile-content {
  display: flex;
}

.mobile-text {
  margin-top: 116px;
  max-width: 657px;
}

.mobile-option {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 50px;
}

.mobile-option-section {
  display: flex;
  align-items: center;
}