.header {
    padding: 40px 0; /* отступ блока с хедером с верху и низу*/
    position: fixed; /* выбиваем из потока банера*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-terminal{
    display: flex;
}
.header-controls {
    
}
.header-controls-link{
    margin-left: 28px;
    color: $primaryColor;
    font-size: 24px;
    @extend %transition;
    &:hover{
        color: $hoverColor;
    }

}
