.mobile{
    padding-top: 79px;

}
.mobile-content{
    display: flex;


}
.mobile-text {
    margin-top: 116px;
    max-width: 657px;
}
.mobile-option {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 50px;

}
.mobile-option-section {
    display: flex;
    align-items: center;
    
    
}