.offers{
    padding: 80px 0;
}
.offers-content{


}
.offers-box{
    position: relative;
    max-width: 252px;
    padding: 0 15px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    &::before {
        content: "";
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    

    }
    // &:hover {
    //     &::before {
    //         background-color: #fff;
    //     }
    // }

}