.theme-info {
    background-image: $gradient;
    padding: 50px 0;
}
.theme-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-info-text {
   
    
}

