.logo{

}
.logo-img{
    width: 64px;
    height: 56px;
    background-color: $mainTextColor;

}
.logo-text{
    width: 115px;
    height: 26px;
    font-family: Raleway;
    font-size: 34px;
    background-color: $mainTextColor;
}