// color, font-size., font-family, line-height, margin-bottom
.heading-main {
    color: $mainTextColor;
    font-size: 52px;
    font-family: $mainFont;
}

.heading-2 {
    color: $mainTextColor;
    font-size: 36px;
    font-family: $mainFont;
}

.title {
    color: $markerColor;
    font-size: $headingText;
    font-family: $mainFont;
    .theme-info-text & {
        font-size: 28px;
        color: $primaryColor;
    }
    .counter-compartment & {
        font-family: $secondaryFont;
        font-size: 48px;
        color: $primaryColor;
    }
    .post-description & {
        color: $markerColor;
        font-size: $bigHoverText;
        font-family: $mainFont;
    }
    .post-media:hover & {
        color: $hoverColor;

    }
}

.title-secondary {
    color: $markerColor;
    font-size: $offerText;
    font-family: $mainFont;
    font-weight: 600;
    margin: 0 0 19px;
    display: block;
    .offers-box:hover & {
        color: $hoverColor;
    }
}

.paragraph {
    color: $primaryColor;
    font-size: $sectionText;
    font-family: $secondaryFont;
    line-height: 1.5;
    .offers-box & {
        font-size: $smallHoverText;
        color: $smallTextColor;
    }
    .offers-box:hover & {
        color: $hoverColor;
    }
    .realization-content & {
        font-size: $sectionText;
        color: $smallTextColor;
        max-width: 757px;
        margin: 0 auto;
    }
    .theme-info-text & {
        font-size: 18px;
        font-family: $secondaryFont;
        color: #615855;
    }
    .advertising-text & {
        color: $smallTextColor;
        line-height: 1.75;
        max-width: 757px;
        margin: 0 auto;
    }
    .mobile-text & {
        color: $smallTextColor;
        line-height: 1.75;
    }
    .mobile-option-section & {
        margin-left: 29px;
        line-height: 2;
    }
    .banner-content & {
        padding-bottom: 52px;
    }
    .counter-compartment & {
        font-family: $secondaryFont;
        color: $hoverColor;
        font-size: $smallHoverText;
        line-height: 1.43;
    }
    .post-text & {
        color: $smallTextColor;
        line-height: 1.75;
        max-width: 757px;
        margin: 0 auto;
    }
    .post-description & {
        color: $smallTextColor;
        font-size: $smallHoverText;
        font-family: $secondaryFont;
        line-height: 1.5;
    }
    .post-media:hover & {
        color: $primaryColor;

    }
}

.highlight {
    color: $hoverColor;
}
